$brand-font-family: 'Open Sans', Arial, sans-serif;
// 5CE07B
$brand-color: #5CE07B;
$brand-color-lighter: desaturate(lighten($brand-color, 50%), 20%);
$brand-neutral-colors: (#637A75, #45604B, #36AD95);
$brand-accent-colors: (#36AD95, #A736AD);
$brand-status-colors: (
  critical: #931F29,
  error: #931F29,
  warning: #f0c954,
  ok: #62F759,
  unknown: #A3E5B2,
  disabled: #A3E5B2
);
$brand-link-color: $brand-color;
$brand-grey-colors: (#2F3A38, #4E605D, #6D8781, #A1C6BE);
$brand-graph-colors: (#36AD95, #A736AD, #E497C4, #E05C67);
$focus-border-color: #36AD95;

@import 'grommet/scss/grommet-core/settings';

.#{$grommet-namespace}control-icon {
  path,
  line,
  polyline,
  circle,
  rect,
  polygon {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

$border-radius: 4px;